language: cpp

compiler:
  - gcc
  - clang

os:
  - linux
  - osx

dist: focal

addons:
  apt:
    packages:
      - cmake
      - build-essential
      - libssl-dev
      - libjsoncpp-dev
      - libcurl4-openssl-dev

script:
  - mkdir -p build
  - cd build
  - cmake .. -DCMAKE_BUILD_TYPE=Release
  - make -j$(nproc)
  - make test

notifications:
  email: false

