<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="simple-smtp-mailer" 
             Language="1033" 
             Version="${VERSION}" 
             Manufacturer="SimpleDaemons" 
             UpgradeCode="PUT-GUID-HERE">
        
        <Package InstallerVersion="200" 
                 Compressed="yes" 
                 InstallScope="perMachine"
                 Description="simple-smtp-mailer Installer"
                 Comments="Copyright (C) 2024 SimpleDaemons"/>
        
        <!-- License Agreement -->
        <WixVariable Id="WixUILicenseRtf" Value="..\licenses\LICENSE.rtf"/>
        
        <!-- Icons -->
        <Icon Id="ProductIcon" SourceFile="..\assets\icons\simple-smtp-mailer.ico"/>
        <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
        
        <!-- Major Upgrade -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />
        
        <!-- Features -->
        <Feature Id="ProductFeature" Title="simple-smtp-mailer" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        
        <!-- UI -->
        <UIRef Id="WixUI_Minimal"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
        
        <!-- Directory Structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="simple-smtp-mailer">
                    <Component Id="ProductComponent" Guid="PUT-GUID-HERE">
                        <File Id="MainExecutable" 
                              Source="simple-smtp-mailer.exe" 
                              KeyPath="yes"/>
                        <ServiceInstall Id="ServiceInstall"
                                        Type="ownProcess"
                                        Name="simple-smtp-mailer"
                                        DisplayName="simple-smtp-mailer"
                                        Description="simple-smtp-mailer Service"
                                        Start="auto"
                                        Account="LocalSystem"
                                        ErrorControl="normal"
                                        Interactive="no">
                            <ServiceDependency Id="Tcpip"/>
                        </ServiceInstall>
                        <ServiceControl Id="ServiceControl"
                                        Stop="both"
                                        Remove="uninstall"
                                        Name="simple-smtp-mailer"
                                        Wait="yes"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutableComponent">
                <File Id="MainExecutable" 
                      Source="simple-smtp-mailer.exe" 
                      KeyPath="yes"/>
            </Component>
        </ComponentGroup>
    </Product>
</Wix>

